In [1]:
ls Data

ACS_16_5YR_B19001_with_ann.csv  FCC_data.csv
ACS_16_5YR_B19013_with_ann.csv  FCC_deps.csv

In [2]:
import pandas as pd
import transform

In [3]:
df = pd.read_csv('Data/ACS_16_5YR_B19001_with_ann.csv')
df = transform.transform_B19001(df)

In [4]:
df[['blockgroup']+list(df.columns[18:])].head()

,blockgroup,lessthan_10k_p,10k-14k_p,15k-19k_p,20k-24k_p,25k-29k_p,30k-34k_p,35k-39k_p,40k-44k_p,45k-49k_p,50k-59k_p,60k-74k_p,75k-99k_p,100k-124k_p,125k-149k_p,150k-199k_p,greaterthan_200k_p
1,480291101001,0.203030,0.057576,0.024242,0.018182,0.072727,0.236364,0.075758,0.030303,0.000000,0.063636,0.045455,0.130303,0.000000,0.000000,0.042424,0.000000
2,480291101002,0.124211,0.082105,0.033684,0.046316,0.000000,0.098947,0.016842,0.086316,0.115789,0.117895,0.046316,0.094737,0.016842,0.046316,0.000000,0.073684
3,480291101003,0.091772,0.154008,0.015823,0.034810,0.037975,0.062236,0.068565,0.026371,0.043249,0.039030,0.080169,0.154008,0.079114,0.034810,0.014768,0.063291
4,480291103001,0.190364,0.175088,0.043478,0.090482,0.024677,0.029377,0.000000,0.000000,0.000000,0.095182,0.088132,0.113984,0.028202,0.025852,0.039953,0.055229
5,480291103002,0.121588,0.131514,0.101737,0.000000,0.000000,0.032258,0.131514,0.129032,0.062035,0.138958,0.052109,0.057072,0.000000,0.022333,0.019851,0.000000

# Clustering based on income

In [5]:
# Columns to cluster by
X = list(df.columns[18:])

In [6]:
from sklearn.cluster import KMeans

In [7]:
model = KMeans( n_clusters=3, random_state=123)

In [8]:
model.fit(df[X])

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=123, tol=0.0001, verbose=0)

In [ ]:
df['Income_Cluster'] = model.predict(df[X])

# Testing Income Clusters using Classif

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
train, test = train_test_split(pd.merge(df[['blockgroup','Income_Cluster']],pd.read_csv('./Data/FCC_deps.csv')))

In [ ]:
y_col = ['bcat_10x1']
X_cols = ['Income_Cluster']

In [ ]:
#train,test = train_test_split(df)
model = LogisticRegression()
model.fit(train[X_cols],train[y_col])
train['predicted'] = model.predict(train[X_cols])
accuracy_score(train['predicted'],train[y_col])

In [ ]:
test['predicted'] = model.predict(test[X_cols])
accuracy_score(test['predicted'],test[y_col])